<div class='container'>

  <h1><%= @user.first_name.capitalize %>'s Profile</h1>


  <div class="new-event">
    <a href="/../events/new">Create an Event!</a><br>
  </div>

  <a href="/../contacts/index">View contacts</a><br>

  <div class='user-events'>
    <h3>EVENTS</h3>
    <% if !@user_events.empty? %>
      <% @user_events.each do |event| %>
        <a href="/../events/<%= event.id %>"><%= event.title %></a>
        <form action="/../events/<%= event.id %>"  method="post">
          <input type="hidden" name="_method" value= "delete">
          <input type="submit" value="delete">
        </form>
        <a href="/events/<%= event.id %>/edit">edit</a>
    <br>
      <% end %>
    <% else %>
      <p id='make-event-notifier'>Make an event!</p>
    <% end %>
  </div>

</div>
