<div class='container'>

  <h1><%= @event.title %></h1>
  <p><%= @event.description %></p>
  <p><%= @event.address %></p>
  <p><%= @event.date %></p>
  <p><%= @event.time %></p>



  <% if current_user %>
    <% if current_user.id == @host.id %>
      <a href="/users/<%= @host.id %>"><%= @host.first_name.capitalize %>'s Profile</a>
      <a href="/../events/<%= @event.id %>/invitees">Invite Contacts</a>
    <% end %>
  <% end %>

</div>
