<div class='container'>

  <h1><%= @event.title %></h1>
  <p><%= @event.description %></p>
  <p><%= @event.address %></p>
  <p><%= @event.date %></p>
  <p><%= @event.time %></p>

  <a href="/users/<%= @user.id %>"><%= @user.first_name.capitalize %>'s Profile</a>

</div>
