<div class='container'>


  <h1><%= current_user.first_name.capitalize %>'s Contacts</h1>

  <div class='add-contacts'>
    <a href="/../contacts/new">Add a contact</a><br>
  </div>

  <div class='contacts'>

    <% @user.contacts.each do |contact| %>
      <p><%= contact.first_name %> <%= contact.last_name %></p>
      <p><%= contact.phone %></p>
  
      <a href="/contacts/<%= contact.id %>/edit">edit</a>
  
      <form action="/contacts/<%= contact.id %>"  method="post">
        <input type="hidden" name="_method" value= "delete">
        <input type="submit" value="delete">
      </form>
  
      <br>
    <% end %>

  </div>

</div>
